html {
  min-height: 100%
}


body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: url(/img/background.jpg) no-repeat;
  background-size: 100%;
  background-position: bottom;
  background-color: black;
}

form {
  padding: 20px;
  margin-top: 60px;
}

form button, form h5 {
  margin: 20px 0;
}